/* 全局样式覆盖 */
.ivu-drawer{
  width: 100% !important;
  height: 300px !important;
  top: auto !important;
  bottom: 0 !important;
}
.ivu-drawer-body p {
  padding: .08rem;
  border-bottom: .01rem solid #eee;
}
.ivu-card{
  font-size: 16px;
}
.ivu-row{
  display: flex;
  justify-content: center;
  align-items: center;
}
.studentCard{
  .ivu-list-item{
    text-align: left;
  }
} 
.teacher{
  input{
    width: 230px;
  }
  textarea{
    width: 230px;
  }
  .study{
    width: 230px;
    text-align: center;
    margin-left: 35px;
  }
  .ivu-select{
    width: 20px;
  }
  .ivu-radio-group{
    margin-left: 35px;
  }
}
.student{
  input{
    width: 230px;
  }
  textarea{
    width: 230px;
  }
  .study{
    width: 230px;
    text-align: center;
    margin-left: 35px;
  }
  .address{
    width: 230px;
    margin-left: 32px;
    margin-bottom: 20px;
  }
  .ivu-select{
    width: 230px;
  }
  .ivu-radio-group{
    margin-left: 35px;
  }
}

// 头部信息筛选
.search{
  .ivu-select{
    width: 90px !important;
    margin-right: 5px;
  }
  .ivu-input-wrapper{
    width: 90px !important;
    margin-right: 5px;  
  }
}